#header
	%h3 MyDE
	= render 'form'

.cont
	- i = 0
	- @colors.each do |c|
		-name = c.file_file_name[/[^.]+/].tr('_-', ' ')

		- i += 1

		-doc = File.open(c.file.path) {|f| Nokogiri::XML(f)}
		-background = doc.xpath('//key[contains(text(), "background")]').first.next_element.content
		-selection = doc.xpath('//key[contains(text(), "selection")]').first.next_element.content
		-string = doc.xpath('//string[contains(text(), "String")]').first.next_element.next_element.next_element.next_element.last_element_child.content
		-keyword = doc.xpath('//string[contains(text(), "Keyword")]').first.next_element.next_element.next_element.next_element.last_element_child.content
		-lNo = doc.xpath('//string[contains(text(), "Comment")]').first.next_element.next_element.next_element.next_element.last_element_child.content

		:scss
			.win:nth-of-type(#{i}) {
				background: #{background};

				.String, .StringDelimiter, span[class^="rubyRegex"] {
					color: #{string};
				}

				.PreProc, .rubyClass, .Type {
					color: #{keyword};
				}

				.lNo {
					color: #{lNo};
				}
			}

			.win::selection, .win::moz-selection {
				background: #{selection};
			}

		.win{:id => name}
			.head
				%li.name= name
				= image_tag "icon/sublimetext_logo.png", :id => "sublimetext_logo"

			- l = 0
			- @code.cont.each_line do |line|
				- l += 1
				.line
					%span.lNo= l
					%span= line.html_safe
			- l = 0

			.foot
				%a{:href => c.file, :download => :true} &#8595
				= image_tag "icon/git.svg", :class => "git_clone", :title => "git clone git://github.com/altercation/#{c.file_file_name}.git"