#header
	%h3 MyDE
	= render 'form'

.cont
	- i = 0
	- @colors.each do |c|
		.win{:id => c.file}
			.head
				%li#name= c.file_file_name[/[^.]+/].tr('_-', ' ')
				%a{:href => "file"} &#8595
				= image_tag "icon/git.svg", :id => "git_clone"

			- @code.cont.each_line do |line|
				- i += 1
				.line
					%span= i
					%li.line= line
			- i = 0

