#header
	%h3 MyDE
	= render 'form'

.cont
	- i = 0
	- @colors.each do |c|
		-name = c.file_file_name[/[^.]+/].tr('_-', ' ')

		-doc = Oga.parse_xml(IO.read(c.file.path))
		-background = doc.at_xpath('//key[text()="background"]').next_element.text
		-foreground = doc.at_xpath('//key[text()="foreground"]').next_element.text

		- i += 2

		:scss
			.win:nth-child(#{i}) {
				background-color: #{background};

				.PreProc {
					color: #{foreground}
				}
				.String {
					color: #{foreground}
				} 
				.LineNr {

				}
			}

		.win{:id => name}
			.head
				%li.name= name
				= image_tag "icon/sublimetext_logo.png", :id => "sublimetext_logo"

			- l = 0
			- @code.cont.each_line do |line|
				- l += 1
				.line
					%span= l
					%span= line.html_safe
			- l = 0

			.foot
				%a{:href => c.file, :download => :true} &#8595
				= image_tag "icon/git.svg", :class => "git_clone", :title => "git clone git://github.com/altercation/#{c.file_file_name}.git"