#header
    %h3 MyDE
    = render 'form'

- i = 0
%div{:id => "cont#{i}"}
    - @colors.each do |c|
        -name = c.file_file_name[/[^.]+/].tr('_-', ' ')
        - i += 1

        -doc = File.open(c.file.path) {|f| Nokogiri::XML(f)}

        -dicts = ['string', 'keyword', 'storage', 'regexp', 'comment', 'operator']

        -dicts.each do |dict|
            -if doc.at_css("string:contains('#{dict}')")
                -fg = doc.xpath("//string[contains(text(), '#{dict}')]").first.parent.at_css("dict").at_css(":contains('foreground')").next_element.content
            
                :scss
                    .win:nth-of-type(#{i}) {
                        .#{dict} {
                                color: #{fg};
                            }
                    }

                -if doc.at_css("string:contains('#{dict}')").parent.at_css("dict").at_css(":contains('background')")
                    -bg = doc.xpath("//string[contains(text(), '#{dict}')]").first.parent.at_css("dict").at_css(":contains('background')").next_element.content

                    :scss
                        .win:nth-of-type(#{i}) {
                            .#{dict} {
                                    background: #{bg};
                                }
                        }

        -sibs = ['caret']

        -sibs.each do |sib|
            -if doc.at_css(":contains('#{sib}')")
                -hex = doc.xpath("//key[contains(text(), '#{sib}')]").first.next_element.content
            
                :scss
                    .win:nth-of-type(#{i}) {
                        .#{sib} {
                                color: #{hex};
                            }
                    }

        -if doc.at_css(":contains('background')")
            -background = doc.xpath("//key[contains(text(), 'background')]").first.next_element.content

            :scss
                .win:nth-of-type(#{i}) {
                    .line {
                        background: #{background};
                    }
                }

        -if doc.at_css(":contains('selection')")
            -selection = doc.xpath('//key[contains(text(), "selection")]').first.next_element.content
            
            -if selection.length > 7
                -hex = selection[0..6]
                -opac = selection[1, 2].to_f / 100

                :scss
                    .win:nth-of-type(#{i}) {
                        ::selection {
                            background: #{hex};
                            opacity: #{opac};
                        }
                    }
            -else
                :scss
                    .win:nth-of-type(#{i}) {
                        ::selection {
                            background: #{selection};
                        }
                    }
        
        -if doc.at_css(":contains('foreground')")
            -foreground = doc.xpath('//key[contains(text(), "foreground")]').first.next_element.content

            :scss
                .win:nth-of-type(#{i}) {
                    color: #{foreground};
                }

        .win{:id => name}
            .head
                %li.name= name
                = image_tag "icon/sublimetext_logo.png", :id => "sublimetext_logo"

            - l = 0
            - @code.cont.each_line do |line|
                - l += 1
                .line
                    %span.l_no.comment= l
                    %span= line.html_safe
            - l = 0

            .foot
                %a{:href => c.file, :download => "#{name}.tmTheme", :target => "blank"} &#8595
                = image_tag "icon/git.svg", :class => "git_clone", :title => "git clone git://github.com/MyDe/#{c.file_file_name}.git"